name: shell commands
on: deployment
jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: trigger build
        run: echo "build"
        
      - name: echo a string
        run: echo  "hello world"
      
      - name: multiline script
        run: |
          node -v
          npm -v

      
      - name: python commands
        run: |
          import platform 
          print(platform.processor())
        shell: python

  run-windows-commands:
    runs-on: windows-latest
    needs: ["run-shell-command"]
    steps:
      - name: get directory
        shell: powershell
        run: Get-Location
      
      - name: Directory Bash
        run: pwd
        shell: bash
      
